name: Generate Snake

on:
  schedule:
    # Runs every day at 00:00 UTC
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout
        uses: actions/checkout@v4

      # Generate the snake SVG in ./dist
      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: Anshul-24git
          outputs: dist/github-snake.svg

      # Publish the content of ./dist to the `output` branch
      - name: Push snake to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
